:root {
  --react-bg-color: #282c34;
  --main-bg-color: #32434d;
  --secondary-bg-color: #848C8E;
  --tertiary-bg-color: #BFB7B6;
  --cream-color: #F1F2EE;
  --accent-color: #DCF763;
}

.spacing-w-1 {
  margin: 0vw 1.8vw;
}

.spacing-w-2 {
  margin: 0vw 5vw;
}

.spacing-h-1 {
  margin: 0vh 1.8vh;
}

.spacing-h-2 {
  margin: 0vh 5vh;
}

.form {
  width: 50vw;
  background-color: var(--cream-color);
  border: 3px solid var(--tertiary-bg-color);
  border-radius: 22px;
}

.button {
  color: var(--accent-color);
  border-style: outset;
  border-width: 3px;
}

.selectedNav {
  text-decoration: none;
  text-decoration-style: none;
  border-bottom: 3px solid;
  border-color: var(--accent-color);
}

.searchForm {
  max-width: 50vw;
  margin: 2vh 5vw;
  padding: 0.2vh 2vw;
}

.navContainer {
  background-color: var(--main-bg-color);
  min-width: 100vw;
  padding: 2rem 5rem;
  margin: 0 0 0.8rem 0;
}

.card {
  background-color: #32434d;
  
}

body {
  margin: 0;
  background-color: var(--secondary-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
