:root {
  --react-bg-color: #282c34;
  --main-bg-color: #32434d;
  --secondary-bg-color: #848C8E;
  --tertiary-bg-color: #BFB7B6;
  --cream-color: #F1F2EE;
  --accent-color: #DCF763;
}

h1,
h2,
h3 {
  color: var(--cream-color);
}

.collection-back {
  background-color: var(--main-bg-color);
  margin: 20px;
  padding: 0px 0px 10px 0px;
  min-width: 300px;
  min-height: 300px;
}

.image-wrap {
  min-width: 300px;
  min-height: 300px;
}

.coll-title {
  background-color: var(--react-bg-color);
  padding: 15px;
}

.point:hover {
  cursor: pointer;
}

.inner-coll {
  padding: 20px
}

.spacing-w-1 {
  margin: 0vw 1.8vw;
}

.spacing-w-2 {
  margin: 0vw 5vw;
}

.spacing-h-1 {
  margin: 0vh 1.8vh;
}

.spacing-h-2 {
  margin: 0vh 5vh;
}

.form {
  width: 50vw;
  background-color: var(--cream-color);
  border: 3px solid var(--tertiary-bg-color);
  border-radius: 22px;
}

.button {
  color: var(--accent-color);
  border-style: outset;
  border-width: 3px;
}

.selectedNav {
  text-decoration: none;
  text-decoration-style: none;
  border-bottom: 3px solid;
  border-color: var(--accent-color);
}

.searchForm {
  max-width: 50vw;
  margin: 2vh 5vw;
  padding: 0.2vh 2vw;
}

.navContainer {
  background-color: var(--main-bg-color);
  min-width: 100vw;
  padding: 2rem 5rem;
  margin: 0 0 0.8rem 0;
}

body {
  margin: 0;
  background-color: var(--secondary-bg-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footerMain {
  background-color: var(--main-bg-color);
  font-size: 1.3rem;
  width: 100vw;
  padding: 1.35vw;
  position: fixed;
  bottom: 0;
}

.footerElement {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--tertiary-bg-color);
  width: 10vw;
  height: 3rem;
  border: 4px inset var(--cream-color);
  border-radius: 10px;
  margin: 0 1.2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
