.collections-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.collection-back {
    border-radius: 5px;
}
.coll-title {
    border-radius: 5px;
}

.reviews-container {
    width: 500px;
    margin: 0 auto;
}